<% if feed_items.any? %>
  <% feed_items.each do |feed_item| %>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <%= image_tag feed_item.image.thumb.url if feed_item.image? %>
        <div class="card-body">
          <p class="card-text"><%= feed_item.content %></p>
          <hr>
          <div class="d-flex justify-content-between align-items-center">
            <%= link_to feed_item.user.name, user_path(feed_item.user) %>
            <small class="text-muted"><%= feed_item.updated_at.strftime("%Y-%m-%d %H:%M") %></small>
          </div>
          <div class="pull-right">
            <div class="btn-group">
              <%= link_to post_path(feed_item) do %>
                <i class="btn btn-sm btn-outline-secondary"><span>詳細</span></i>
              <% end %>
              <% if user_signed_in? %>
                <% if current_user.id == feed_item.user.id %>
                  <%= link_to post_path(feed_item),  method: :delete, data: { confirm: '本当に削除しますか？' } do %>
                    <i class="btn btn-sm btn-outline-secondary"><span>削除</span></i>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="mx-auto">
    <p>投稿がありません</p>
  </div>
<% end %>