<% provide(:title, "ユーザー一覧") %>
<%= search_form_for @q, url: users_path do |f| %>
  <div class="container pt-3">
    <div class="row">
      <div class="col-md-5">
        <%= f.label :name_or_introduce_or_motorcycle_cont, 'キーワード検索' %>
        <%= f.text_field :name_or_introduce_or_motorcycle_cont, placeholder: "キーワードを入力して下さい", class: 'form-control' %>
      </div>
      <div class="col-md-5">
        <%= f.label :manufacturers_id_eq, 'メーカー' %>
        <%= f.select :manufacturers_id_eq, Manufacturer.all.map{ |t| [t.name, t.id] }, { include_blank: '指定なし' }, class: 'form-control' %>
      </div>
      <div class="d-flex align-items-end mx-auto pt-3">
        <%= f.submit '検索', class: "btn btn-primary btn-block" %>
      </div>
    </div>
  </div>
<% end %>
<div class="album py-5">
  <div class="container">
    <ul class="users">
      <div class="row">
        <% @users.each do |user| %>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <%= image_tag avatar_url(user), class: "card-img-top" %>
              <div class="card-body">
                <p class="card-text"><%= link_to user.name, user_path(user) %></p>
                <hr>
                <div class="d-flex justify-content-between align-items-center">
                  <%= user.introduce %><br>
                  <% user.manufacturers.each do |manufacturer| %>
                    <%= manufacturer.name %><br>
                  <% end %>
                  <%= user.motorcycle %>
                </div>
                <small class="text-muted"><%= user.created_at.strftime("%Y-%m-%d %H:%M") %></small>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </ul>
    <div class="mx-auto" style="width: 450px;">
      <%= paginate @users, window: 2 %>
    </div>
  </div>
</div>