<% provide(:title, 'ユーザーページ') %>
<div class="container">
  <div class="profile-wrap">
    <div class="row">
      <div class="col-md-4 text-center">
        <%= image_tag avatar_url(@user), :size =>'100x100' %>
      </div>
      <div class="col-md-8">
        <div class="row">
          <h1><%= @user.name %></h1>
          <% if @user == current_user %>
            <%= link_to "プロフィールを編集", edit_user_registration_path, class: "btn btn-outline-dark common-btn edit-profile-btn" %>
          <% end %>
        </div>
        <div class="row">
          <section class="stats">
            <%= render 'stats', { user: @user } %>
          </section>
          <% if user_signed_in? %>
            <%= render 'follow_form', { user: @user } %>
          <% end %>
        </div>
      </div>
      <div class="user_info">
        <p><%= @user.introduce %></p>
        <% if @user.motorcycle %>
          <p>車種：<%= @user.motorcycle %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="album py-5">
  <div class="container">
    <div class="row">
      <%= render 'posts/post_body', { posts: @posts } %>
    </div>
  </div>
</div>