<% provide(:title, @title) %>
<div class="container">
  <div class="profile-wrap">
    <div class="row">
      <div class="col-md-4 text-center">
        <%= image_tag avatar_url(@user), :size =>'100x100' %>
      </div>
      <div class="col-md-8">
        <div class="row">
          <h1><%= @user.name %></h1>
          <% if @user == current_user %>
            <%= link_to "プロフィールを編集", edit_user_registration_path, class: "btn btn-outline-dark common-btn edit-profile-btn" %>
          <% end %>
        </div>
        <div class="row">
          <section class="stats">
            <%= render 'stats', { user: @user } %>
          </section>
          <% if user_signed_in? %>
            <%= render 'follow_form', { user: @user } %>
          <% end %>
        </div>
      </div>
      <div class="user_info">
        <p><%= @user.introduce %></p>
        <% unless @user.manufacturers.blank? %>
          <p>メーカー：
            <% @user.manufacturers.each do |manufacturer| %>
              <%= manufacturer.name %>
            <% end %>
          </p>
        <% end %>
        <% unless @user.motorcycle.blank? %>
          <p>車種：<%= @user.motorcycle %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="album py-5">
  <div class="container">
    <div class="row">
      <% @users.each do |user| %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <%= image_tag avatar_url(user), class: "card-img-top" %>
            <div class="card-body">
              <p class="card-text"><%= link_to user.name, user_path(user) %></p>
              <hr>
              <div class="d-flex justify-content-between align-items-center">
                <%= user.introduce %><br>
                <% user.manufacturers.each do |manufacturer| %>
                  <%= manufacturer.name %><br>
                <% end %>
                <%= user.motorcycle %>
              </div>
              <small class="text-muted"><%= user.created_at.strftime("%Y-%m-%d %H:%M") %></small>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="mx-auto" style="width: 450px;">
      <%= paginate @users, window: 2 %>
    </div>
  </div>
</div>