<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <% unless user_signed_in? %>
          <%= link_to(root_path,class: "navbar-brand") do %>ホーム<% end %>
        <% end %>
        <li class="nav-item active">
          <%= link_to(about_path,class: "nav-link") do %>このサービスについて<% end %>
        </li>
        <li class="nav-item active">
          <%= link_to(users_path,class: "nav-link") do %>ユーザー一覧<% end %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to(user_path(current_user),class: "nav-link") do %>マイページ<% end %>
          </li>
          <li class="nav-item active">
            <%= link_to(destroy_user_session_path, method: :delete,class: "nav-link") do %>ログアウト<% end %>
          </li>
        <% else %>
          <li class="nav-item active">
            <%= link_to(new_user_registration_path,class: "nav-link") do %>サインイン<% end %>
          </li>
          <li class="nav-item active">
            <%= link_to(new_user_session_path,class: "nav-link") do %>ログイン<% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>