<% posts.each do |post| %>
  <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
      <%= image_tag post.image.thumb.url if post.image? %>
      <div class="card-body">
        <p class="card-text"><%= post.content %></p>
        <hr>
        <div class="d-flex justify-content-between align-items-center">
          <%= link_to post.user.name, user_path(post.user) %>
          <small class="text-muted"><%= post.updated_at.strftime("%Y-%m-%d %H:%M") %></small>
        </div>
        <div class="pull-right">
          <div class="btn-group">
            <%= link_to post_path(post) do %>
              <i class="btn btn-sm btn-outline-secondary"><span>詳細</span></i>
            <% end %>
            <% if user_signed_in? %>
              <% if current_user.id == post.user.id %>
                <%= link_to post_path(post),  method: :delete, data: { confirm: '本当に削除しますか？' } do %>
                  <i class="btn btn-sm btn-outline-secondary"><span>削除</span></i>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>